.pre-footer {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-direction: column;
}
.quote {
  font-size: 18px;
  font-weight: bold;
}
#quote-id {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 400px;
  margin-bottom: 40px;
}

.footer {
  margin: 40px 80px;
  border-radius: 5px;
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer_with_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.post-footer {
  font-size: 16px;
  color: #e5e7eb;
  background-color: #1f2937;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
