.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-link,
#placeholder-text {
  font-size: 18px;
  color: #e5e7eb;
}
.header-body,
.post-footer {
  background-color: #1f2937;
}
.header-logo {
  font-size: 24px;
  color: #f9faf8;
  width: 50%;
}
.header-link {
  margin: 10px; /* solved the jampacking issue */
}
h3 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 2px;
}
.text-left,
.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page-text {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
}
.text-left {
  display: flex;
  /* justify-content: start; */
  margin-left: 7%;
  align-items: flex-start;
  width: 50%;
}
#secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 0px;
}
.placeholder {
  height: 300px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 30px;
}
