@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", serif;
}
.post-footer {
  background-color: #1f2937;
}
.pre-footer {
  background-color: #e5e7eb;
}
.logo {
  width: 100px; /* Set the width */
  height: 100px; /* Set the height */
  /* border: 2px solid;  */
  /* Add a border */
  border-radius: 50%; /* Make it circular */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  */
}
.footer {
  background-color: #3882f6;
}

.placeholder {
  height: 150px;
  width: 30%;
  border: none;
  background: #82858b;
}
h2 {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.sign-up-1 {
  background-color: #3882f6;
  border-radius: 10px;
  border: none;
  width: 15%;
  font-size: 14px;
  color: #f9faf8;
  padding: 5px 10px;
}
.sign-up-2 {
  background-color: #3882f6;
  border-radius: 15px;
  border: 3px #f9faf8;
  color: #f9faf8;
}
.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: lighter;
}
.box-text {
  color: #3882f6;
}
#secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  /* margin-top: 0px; */
}
h4,
#footer-text,
.post-footer {
  color: #e5e7eb;
}

ul {
  display: flex;
  flex-direction: row;
  /* align-items: end; */
  /* justify-content: space-between; */
}
